/* Fonts
--------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* Generell
--------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Full screen
--------------------------------*/
.indexBG {
  height: 100vh;
  background: url("../images/indexBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* Navbar
--------------------------------*/
header {
  font-family: "Montserrat", sans-serif;
}

.nav {
  height: 60px;
  background-color: #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  font-size: 16px;
}

.nav img {
  width: 250px;
}

.nav .navbar {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.nav .navbar .nav-link {
  display: block;
  color: #282725;
  list-style: none;
  text-decoration: none;
  transition: 0.3s all ease;
  position: relative;
  padding: 0px 50px;
  font-size: 16px;
}

.nav .navbar .nav-link:hover {
  color: #e89c23;
}

.btnNav {
  text-decoration: none;
  padding: 10px;
  border: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background: #282725;
  border-radius: 10px;
  transition: 0.3s all ease;
  color: #ffffff;
  transition: 0.3s all ease;
}

.btnNav:hover {
  cursor: pointer;
  background: #e89c23;
}
/* Home
--------------------------------*/
.center {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.btn {
  text-decoration: none;
  margin-top: 20px;
  margin: 100px;
  display: inline-block;
  padding: 10px 100px;
  background: rgba(40, 39, 37, 0.5);
  font-size: 25px;
  color: #ffffff;
  border-radius: 25px;
  transition: 0.3s all ease;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background: rgba(40, 39, 37, 1);
  color: #ffffff;
}

/* Shirts
--------------------------------*/
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
  gap: 50px;
}

.portfolio-item-wrapper {
  position: relative;
}

.tshirt-img {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 20%;
  display: none;
}

.subtitle,
.text {
  /* display: none; */
  font-family: "Montserrat", sans-serif;
}
.title-transparent {
  display: none;
}
.text {
  transition: 1s;
  font-weight: 100;
  line-height: 25px;
  color: #ffffff;
  /* display: none; */
  /*color: transparent;*/
}

.subtitle {
  transition: 1s;
  font-weight: 600;
  padding-bottom: 20px;
  font-size: 25px;
  color: #ffffff;
  /*color: transparent;*/
}
.subtitle-active,
.text-active {
  display: block;
}
/*.portfolio-item-wrapper:active .subtitle {
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
}

.portfolio-item-wrapper:active .text {
  font-weight: 100;
  color: #ffffff;
  line-height: 25px;
}*/
.img-darken .tshirt-img {
  transition: 1s;
  filter: brightness(10%);
}

.show-text .title {
  display: block;
}

/* About Us
--------------------------------*/

.two-columne-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
  width: 100%;
  padding: 50px;
}

.profile-content-wrapper {
  padding: 50px;
}

.profile-content-wrapper h1 {
  font-family: "Montserrat", sans-serif;
  color: #e89c23;
  padding-bottom: 30px;
}

.profile-content-wrapper p {
  font-family: "Montserrat", sans-serif;
  color: #282725;
  line-height: 30px;
}
